/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*CSS visiter.html*/

.visiter {
  display: flex;
  flex-direction: column;
  background-color: #1d1d1e;
}


.visiter {
  flex: 1;
}
=======
   .fa-caret-down {
     margin-right: 0px;
   }

   .bg-white{
     background-color: white;
   }


.margin-top {
  margin-top: 90px;
}

.row {
  margin: 0;
}

.row-nowrap {
  flex-wrap: inherit;
}

.bg-black {
  background-color: #1d1d1e;
}

.radius {
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.9);
  color: #1D1D1E;
  font-family: 'Roboto', sans-serif;
  margin-top: 4%;
}

.radius:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: #D8383F;
  transition: 0.5s;
}

.font-size-small {
  font-size: 10px;
}

.font-size-big {
  font-size: 15px;
}

.background {
  background-image: url("../img/screen1.png");
  width: 100%;
  height: 1000px;
}

.card {
  border: 0;
  border-radius: 0;
}

.card-img {
  border-radius: 0;
}

h1:hover {
  color: #D8383F !important;
  transition: 0.5s;
}

.center-1 {
  width: 200px;
  margin: 50% auto;
  height: 130px;
  background-color: white;
  color: Black;
  font-size: 11px;
}

.align-left {
  width: 200px;
  margin: 100px 0;
  height: 130px;
  background-color: white;
  color: Black;
  font-size: 11px;
}

.gray {
  color: gray;
}

i {
  margin-right: 5%;
}

.bg-white {
  background-color: white;
}

.desktop {
  justify-content: center;
}

.mobile {
  justify-content: center;
}

.margin-top-responsive {
  margin-top: 15px;
}

span {
  font-size: 16px;
}

@media (max-width:1200px) {
  .desktop {
    display: none;
  }
}

@media (min-width:1200px) {
  .mobile {
    display: none;
  }
  .margin-top-responsive {
    margin-top: 0;
  }
}

@font-face {
  font-family: "loveloblack";
  src: url("../font-family/lovelo.ttf");
}


/*footer*/

/*navbar*/




/* NAVBAR */

nav.navbar.navbar-expand-lg {
    background-color: #232223;
    height: 90px;
}
nav.navbar.navbar-expand-lg:hover {
    color: red;
}


.navbar-brand {
  font-size: 17px;

}
a.nav-link {
    font-family: "lovelo";
    font-size: 18px;
    color: #FFF;
    max-width: 200px;
    transition: all 0.3s ease 0s;
}

a.navbar-brand,
a.nav-link {
  color: white;
}


.tch:hover {
  transition: color 0.3s;
  color: #da4047;
}

.tchborder:hover {
  transition: border 0.3s;
  border-color: #da4047;
}

.searchfor {
  margin-left: -30px;
  z-index: 1000;
  position: relative;
}

.bgh:hover {
  background-color: #da4047;
}

input[type="search"] {
  background: inherit;
  border: 5px solid white;
  border-radius: 0px;
  height: 40px;

a.navbar-brand:hover,
a.nav-link:hover {
    background-color: inherit;
    color: #da4047;
}

/* INPUT */
input.form-control.mr-sm-2 {
    background-color: #1D1D1E;
    color: #FFF;
    width: 160px;
    height: 35px;
    border: 4px solid #FFF;
    position: relative;
    padding-right: 30px;
    padding-left: 5px;
    transition: all 0.3s ease 0s;
    border-radius: 0px;

}

input[type="search"]:hover,
input[type="search"]:focus {
  background-color: inherit;

  border: 5px solid #da4047;
}

#exampleSelect1 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #1d1d1e;
  border: none;
  color: white;
}

#exampleSelect1:hover {
  color: #da4047;

  border-color: #da4047;

}

/* section*/
.section{
  margin: 200px 0 0 0 ;
}

.paragraphe {
  font-family: "loveloblack";
}

.lock {
  width: 37px;
  height: 37px;
  border-top: solid 16px;
  border-top-color: currentcolor;
  border-right: solid 16px;
  border-right-color: currentcolor;
  position: absolute;
  top: 0;
  right: 0;
}

.colorpink {
  color: #d3336c;
}

.colorpurple {
  color: #935297;
}

.colorvert {
  color: #79a506;
}

/*footer*/

.footer {
  background: #1D1D1E;
  margin-top: 100px;
}

.colorwhite {
  color: white;
}

footer a:hover {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #D8383F;
}

footer a:focus {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #D8383F;
}

.colorwhite a {
  color: white;
}

.icon {
  margin-top: 100px;
}

.container {
  width: 1280px;
  margin: 0 auto;
  margin-bottom: 0px;
  padding: 0;
}

.pagination--light {
  text-align: center;
  height: 35px;
  margin-bottom: 45px !important;
  color: #1D1D1E;
  background-color: #FFF;
}

.pagination--light {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.index {
  display: inline-flex;
}


ol,
ul {
  list-style: none;
}


.pagination--light .pagination-next {
  float: right;
  text-align: right;
  margin-right: 20px;
}

.pagination-next {
  float: right;
  text-align: right;
  margin-right: 20px;
}

.pagination--light .pagination-previous,
.pagination--light .pagination-next {
  border: solid 4px #1D1D1E;
  padding: 5px 13px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-size: "bikobold";
  font-size: 18px;
  font-size: 1.8rem;
  height: 67px;
}

a {
  color: inherit;
  text-decoration: none;
}

a {
  box-sizing: border-box;
}

.pagination--light {
  text-align: center;
  color: #1D1D1E;
}

.pagination--light .index .index-item:first-child {
  border-left: none;
}

.pagination--light .index .index-item.active {
  color: #D8383F;
}

.pagination--light .index .index-item {
  display: inline-block;
  width: 45px;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-left: solid 2px #1D1D1E;
  font-size: 18px;
  font-size: 1.8rem;
  font-family: "bikobold";
}

/*==============MOBILE FIRST===============*/

@media (min-width:320px) {
  .ml-4 {
    display: ruby-text;
  }
  .contact {
    margin: 0;
  }
  .colorwhite {}
  .image {
    width: 100%;
  }
  .icon {
    margin: 0;
  }
  .suivez-nous {
    margin-left: 40px;
  }
}

/*=========================================================================================
 ==============================INDEX =============================================*/

div.container-fluid.h-100 {
  min-height: 100vh;
  background-image: url("../img/Palais-des-Beaux-Arts-de-Lille.jpg");
  background-size: cover;
  background-position: center center;
  padding-top: 100px;
  margin: 0;
}

div.row.justify-content-center.h-100 {
  position: absolute;
  margin-left: 65px;
  margin-right: 65px;
  max-height: 450px;
  text-align: center;
  width: 100%;
}

div.deco-haut-gauche {
  position: absolute;
  height: 340px;
  width: 80%;
  top: 70px;
  border-top: 16px solid #FFF;
  border-right: 16px solid #FFF;
  height: 40px;
}

div.deco-bas-gauche {
  position: absolute;
  height: 340px;
  width: 80%;
  top: 350px;
  border-bottom: 16px solid #FFF;
  border-right: 16px solid #FFF;
  height: 40px;
}


div.collection-square {
  position: absolute;
  top: 150px;
  left: 250px;
  color: white;
}

div.text-gauche,
div.text-droit {
  position: absolute;
  top: 200px;
  text-align: center;
  font-family: 'lovelo';
  left: 22%;
  color: white;
}

.formgroupmt {
  margin-top: 100px;
}


   /*==============MOBILE FIRST===============*/
 @media (min-width:320px) {

     .formgroupmt {
       margin-top: 0px;
     }

     .ml-4{
       display: ruby-text;
     }
     .contact{
       margin: 0;
     }
     .colorwhite{


     }
     .image{
       width: 100%;
     }
     .icon{
       margin: 0;
     }
     .suivez-nous{
       display: ruby;
     }
     .ml-5{
      display:ruby-text-container;

     }
     .icon{
       margin-top: 30px;
     }
     .col-md-2{
       display: ruby-text-container;
     }


p.haut-gauche {
  font-size: 3vw;
}

p.bas-gauche {
  font-size: 1.5vw;
  line-height: normal;
  word-wrap: break-word;
}

div.deco-haut-droite {
  top: 70px;
  border-top: 16px solid #FFF;
}

div.deco-bas-droite {
  top: 350px;
  border-bottom: 16px solid #FFF;
}

div.deco-bas-droite,
div.deco-haut-droite {
  position: absolute;
  height: 340px;
  width: 80%;
  border-left: 16px solid #FFF;
  height: 40px;
}

/* CAROUSEL*/

div.deco-haut {
  top: 80px;
  border-top: 16px solid #FFF;
}

div.deco-bas {
  top: 420px;
  border-bottom: 16px solid #FFF;
}

div.deco-bas,
div.deco-haut {
  position: absolute;
  height: 340px;
  width: 80%;
  right: 150px;
  border-left: 16px solid #FFF;
  border-right: 16px solid #FFF;
  height: 40px;
}

.carousel-inner .carousel-caption {
  color: white;
  font-size: 20px;
  height: 80vh;
}

.carousel-inner .carousel-item h1 i:hover {
  color: #d8383f;
  transition: 0.5s;
}

.carousel-inner .carousel-item h1 {
  font-weight: bold;
  font-size: 50px;
}

.carousel-inner .carousel-item span {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 40px;
}

h1.carouselindex {
  text-transform: uppercase;
  font-family: "lovelo"
}

/* DECOUVERTE */

div.container-fluid.discover {
  text-align: center;
  background-color: #1d1d1e;
  margin: 0;
  padding: 1px 0px 1px 0px;
  color: white;
}

div.pictures {
  padding: 0;
}

div.col-12.col-sm-3.col-md-3.oeuvre1,
div.col-12.col-sm-3.col-md-3.oeuvre2,
div.col-12.col-sm-3.col-md-3.oeuvre3,
div.col-12.col-sm-3.col-md-3.oeuvre4 {
  height: 80vh;
  background-size: cover;
}

div.col-12.col-sm-3.col-md-3.oeuvre1 {
  background-image: url(../img/Bosch.jpg);
}

div.col-12.col-sm-3.col-md-3.oeuvre2 {
  background-image: url(../img/raphael.jpg)
}

div.col-12.col-sm-3.col-md-3.oeuvre3 {
  background-image: url(../img/de\ Goya.jpg)
}

div.col-12.col-sm-3.col-md-3.oeuvre4 {
  background-image: url(../img/donatello.jpg)
}

div.textoeuvres {
  position: absolute;
  width: 76.5%;
  height: 227px;
  left: 11.75%;
  top: 210px;
  padding: 47px 40px 0 47px;
  background-color: white;
}

p.titleoeuvre,
p.nomartiste {
  font-family: 'lovelo';
}

p.titleoeuvre {
  font-size: 2vw;
  line-height: 90%;
}

p.nomartiste {
  font-size: 1.2vw;
}

div.container-fluid.linksocial {
  background-color: #1d1d1e;
}

/* SOCIAL MEDIA */

div.row.socialmore,
div.row.socialalbums,
div.row.socialinsta {
  height: 121px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  background-color: #232223;
}

div.row.socialmore,
div.row.socialalbums {
  padding-bottom: 5%;
}

div.row.socialinsta {
  padding-bottom: 15%;
}

span.socialinnertext {
  font-family: 'lovelo';
  font-size: 2vw;
  color: white;
  display: inline-block;
  margin-top: 60px;
  max-width: 450px;
}

a.more {
  padding: 20px 70px 20px 70px;
}

a.albums {
  padding: 20px 30px 20px 30px;
}

a.more,
a.albums {
  border: 4px solid white;
}

div.row.socialPictures {
  display: flex;
  justify-content: flex-start;
}

div.picturecol1,
div.picturecol2,
div.picturecol3,
div.picturecol4,
div.picturecol5 {
  width: 20%;
  height: 40vh;
  margin: 0;
}

div.picturecol1,
div.picturecol2,
div.picturecol3,
div.picturecol4,
div.picturecol5:hover {
  color: #d8383f;
  transition: 0.5s;
}

div.picturecol1 {
  background-image: url(../img/insta1.jpg);
  background-size: cover;
}

div.picturecol2 {
  background-image: url(../img/insta2.jpg);
  background-size: cover;
}

div.picturecol3 {
  background-image: url(../img/insta3.jpg);
  background-size: cover;
}

div.picturecol4 {
  background-image: url(../img/insta4.jpg);
  background-size: cover;
}

div.picturecol5 {
  background-image: url(../img/insta5.jpg);
  background-size: cover;
}

/* APP DOWNLOAD */

div.row.appdownload {
  text-align: center;
  background-color: #E92A49;
  padding: 5% 0% 5% 0%;
  color: white;
}

div.row.appdownload:hover {
  color: #E92A49;
  background-color: white;
  transition: 0.5s;
}

div.col-12.col-sm-12.col-md-12.appdownload1 {
  font-family: "lovelo";
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
